/*------------------SITE--------------*/

.containers{
	background-color: rgb(7, 7, 25);
	width:100%;	
	margin : auto;
	color: azure;
}

header{
	width:95%;
	margin : auto;
	padding-top: 50px;;
	
}

main{
	background-color: rgb(14, 14, 41);
	width:90%;
	margin : auto;
	margin-top: 50px;
	
}

footer{
	background-color: rgb(14, 14, 41);	
	width:100%;
	margin : auto;
	margin-top: 30px;
	text-align: center;
	
}

/*-----------------------------navbar----------------------------*/

#pp{
	max-width: 30px;
	max-height: 30px;
	min-width: 30px;
	min-height: 30px;
	clip-path:ellipse(50% 50%);
}


#navbar{
	height: 80px;
	font-size: 24px;
	padding-left: 100px;;
}

.navbar-brand #logo{
	height: 60px;
}

#navbar form{
	padding-right:100px;
}
#navbar li{
	padding-left: 25px;;
}

